.tab-list {
  display: flex;
  list-style-type: none;
}

.tab-name {
  font-family: 'Roboto';
  font-size: 15px;
  color: #0d0e12;
  font-weight: 500;
  margin-bottom: 30px;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 100px;
}

.tab-item {
  list-style-type: none;
}

.loader {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
